<?xml version="1.0"?>

<model>
    <name>wood_board</name>

    <version>1.0</version>

    <sdf version="1.8">
        model.sdf
    </sdf>

    <author>
        <name>robotics_project</name>
        <email>jhw0178@gmail.com</email>
    </author>

    <description>
        500mm x 500mm x 10mm wooden board
        for OpenManipulator-X pick and place project.
    </description>
</model>