<?xml version="1.0"?>

<model>

    <name>pet_bottle</name>

    <version>1.0</version>

    <sdf version="1.8">
        model.sdf
    </sdf>

    <author>
        <name>robotics_project</name>
        <email>jhw0178@gmail.com</email>
    </author>

    <description>
        Simple PET bottle for OpenManipulator-X
        pick and place simulation.
    </description>

</model>